<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="bg-purple-900">
    <div class="flex gap-8 items-center mx-auto h-10">
        <a th:href="#" class="text-white ml-4 font-bold">Logo</a>
        <ul class="text-center flex justify-evenly mr-8 w-full">
            <li>
                <a th:href="@{/inventario}" class="text-white hover:text-gray-200">Inventario</a>
            </li>
            <li>
                <a th:href="@{/pedidos}" class="text-white hover:text-gray-200">Pedidos</a>
            </li>
            <li>
                <a th:href="@{/arreglos}" class="text-white hover:text-gray-200">Arreglos</a>
            </li>
            <li>
                <a th:href="@{/entregas}" class="text-white hover:text-gray-200">Entregas</a>
            </li>
            <li>
                <a th:href="@{/finanzas}" class="text-white hover:text-gray-200">Finanzas y Facturas</a>
            </li>
            <li>
                <a th:href="@{/informes}" class="text-white hover:text-gray-200">Informes y Análisis</a>
            </li>
        </ul>
    </div>
</nav>


</body>
</html>
