<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventario</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Linea de codigo reutilizable menu de navegacion -->
    <div th:replace="navbar :: nav"></div>
    <div class="max-w-5xl mx-auto">
      <h1 class="text-3xl mx-auto text-center font-bold m-4">
        Inventario de Flores
      </h1>
      <table class="w-full border-collapse border border-gray-300">
        <thead>
          <tr class="bg-purple-200">
            <th class="border border-purple-300">Nombre</th>
            <th class="border border-purple-300">Color</th>
            <th class="border border-purple-300">Variedad</th>
            <th class="border border-purple-300">Cantidad Disponible</th>
            <th class="border border-purple-300">Precio de Compra</th>
            <th class="border border-purple-300">Precio de Venta</th>
            <th class="border border-purple-300">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Ejemplo de datos -->
          <tr th:each="flor:${floresParaInventario}" class="bg-white">
            <td th:text="${flor.nombre}"  class="border border-gray-300 py-2 px-4">Rosa</td>
            <td th:text="${flor.color}" class="border border-gray-300 py-2 px-4">Rojas</td>
            <td th:text="${flor.variedad}" class="border border-gray-300 py-2 px-4">De jardin</td>
            <td th:text="${flor.cantidad_disponible}" class="border border-gray-300 py-2 px-4">50</td>
            <td th:text="${flor.precio_compra}" class="border border-gray-300 py-2 px-4">$8000</td>
            <td th:text="${flor.precio_venta}" class="border border-gray-300 py-2 px-4">$1200</td>
            <td  class="border border-gray-300 py-2 px-4 flex justify-between">
              <a  class="text-red-600 cursor-pointer"
                ><i class="fas fa-trash"></i
              ></a>
              <a class="text-purple-600 cursor-pointer gap-3">
                <i class="fas fa-pencil-alt"></i
              ></a>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </body>
</html>
