<div th:fragment="nav">
    <nav class=" block top-0 w-full bg-purple-900">
        <div class="flex gap-8 items-center mx-30 h-10 ">
            <a th:href="@{/}" class="text-white ml-4 font-bold text-2xl flex items-center">
                <i class="fas fa-seedling mr-2"></i> 
                MiFloristería
            </a>
            <ul class="text-center flex justify-evenly mr-8 w-full">
              
                <li>
                    <a th:href="@{/inventario}" class="text-white hover:text-gray-200 font-semibold text-lg">Inventario</a>
                </li>
                <li>
                    <a th:href="@{/pedidos}" class="text-white hover:text-gray-200 font-semibold text-lg">Pedidos</a>
                </li>
                <li>
                    <a th:href="@{/pedidosinventario}" class="text-white hover:text-gray-200 font-semibold text-lg">Pedidos</a>
                </li>
                <li>
                    <a th:href="@{/arreglos}" class="text-white hover:text-gray-200 font-semibold text-lg">Arreglos</a>
                </li>
                <li>
                    <a th:href="@{/entregas}" class="text-white hover:text-gray-200 font-semibold text-lg">Entregas</a>
                </li>
                <li>
                    <a th:href="@{/finanzas}" class="text-white hover:text-gray-200 font-semibold text-lg">Finanzas y Facturas</a>
                </li>
                <li>
                    <a th:href="@{/informes}" class="text-white hover:text-gray-200 font-semibold text-lg">Informes y Análisis</a>
                </li>
            </ul>
        </div>
    </nav>
</div>