<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedidos</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100">
  <!-- Linea de codigo reutilizable menu de navegacion -->
  <div th:replace="~{navbar :: nav}"></div>

  <!-- Carrito de compras -->
  <div class="w-auto mx-auto px-4 py-8 sticky top-12">
    <div class=" rounded overflow-hidden shadow-lg bg-white bg-opacity-75 p-6 w-auto">
      <h2 class="font-bold text-center text-xl mb-4">Lista de Pedidos</h2>
      <div id="carrito" class="flex overflow-x-auto mb-4 w-auto">
        <!-- Aquí se añadirán las flores seleccionadas -->
      </div>
      <button class="bg-green-500 text-white px-4 py-2 rounded lg:w-1/6">Comprar</button>
    </div>
  </div>
  </div>

  <div class="flex h-4/6">
    <!-- Contenido de los pedidos -->
    <div class="w-2/4 container  mx-auto px-4 h-screen overflow-y-scroll">
      <h1 class="text-4xl font-bold text-center my-2">Flores</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div th:each="flor:${floresParaPedidos}" class="col-span-1">
          <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <img th:src="${flor.imagen}" class="w-full h-48 object-cover" alt="Imagen de la flor">
            <div class="p-4">
              <h5 id="nombre" class="text-center text-xl font-semibold mb-2" th:text="${flor.nombre}">Nombrer</h5>
              <p id="variedad" class="text-gray-700 text-base"><span class="font-semibold" id="variedad"
                  th:text="${flor.variedad}">Variedad</span></p>
              <p id="precio" class="text-gray-700 text-base">Precio: <span class="font-semibold" id="precio"
                  th:text="'$'+${flor.precio_venta}"></span></p>
              <p id="stock" class="text-gray-600 mb-4" th:text="${flor.cantidad_disponible} + ' En stock'">Stock</p>
              <button
                class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-200"
                href="#">Añadir al carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-2/4 container mx-auto px-4 h-screen overflow-y-scroll">
      <h1 class="text-4xl font-bold text-center my-2">Arreglos Florales</h1>
      <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4">
          <div th:each="arreglo : ${arreglosParaPedidos}" class="bg-white rounded-lg shadow-lg p-6">
              <h2 class="text-2xl font-semibold mb-4" th:text="${arreglo.descripcion}">Descripción del Arreglo
              </h2>
              <p class="text-xl font-bold text-gray-700 mb-4" th:text="'Precio: $' + ${arreglo.precio}">Precio:
                  $0.00</p>
              <h3 class="text-lg font-semibold mb-2">Flores en el Arreglo:</h3>
              <ul class="list-disc list-inside">
                  <li th:each="florArreglo : ${arreglo.floresArreglosFlorales}" class="mb-2 flex items-center space-x-4">
                      <img th:src="${florArreglo.flor.imagen}" alt="Imagen de la Flor" class="w-16 h-16 rounded-full">
                      <div>
                          <span th:text="${florArreglo.flor.nombre}">Nombre de la Flor</span>
                          (<span th:text="${florArreglo.flor.color}">Color</span> - <span th:text="${florArreglo.cantidad}">Cantidad</span>)
                      </div>
                  </li>
              </ul>
              <button
                class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-200"
                href="#">Añadir al carrito</button>
          </div>
      </div>
  </div>

</body>

</html>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const buttons = document.querySelectorAll('button');
    buttons.forEach(button => {
      button.addEventListener('click', function () {
        const flowerName = this.parentElement.querySelector('#nombre').innerText;
        const flowerVariety = this.parentElement.querySelector('#variedad').innerText;
        const flowerPrice = this.parentElement.querySelector('#precio').innerText;
        const flowerStock = this.parentElement.querySelector('#stock').innerText;

        const selectedFlower = document.createElement('div');
        selectedFlower.className = 'class="grid-cols-1 items-center bg-gray-200 rounded mx-2';
        selectedFlower.innerHTML = `<div class="grid-cols-1">
                                      <span>${flowerName} (${flowerVariety})</span>
                                      <p>${flowerPrice}</p>
                                    </div>
                                    <button class="text-red-500"><i class="fas fa-trash"></i></button>`;

        selectedFlower.querySelector('button').addEventListener('click', function () {
          this.parentElement.remove();
        });

        document.getElementById('carrito').appendChild(selectedFlower);
      });
    });
  });
</script>
